
body{
    width: 1920px;
    overflow-x: hidden;
}    
#logo{
    margin-top: 30px;
}
#login{
    float: right;
    margin-right:360px;
    color: black;
}
nav{
    border-top:1px solid #c7c7c7;
    border-bottom:1px solid #c7c7c7;
    width: 100%;
    height: 70px;
    margin-top: 10px;
    display: flex;
}
nav li{
    list-style: none;
    line-height: 80px;
    text-align: center;
    float: left;
    flex:1;
}
nav li a{
    color:black;
}
nav li a:hover{
    color:#00793F;
    font-size: 24px;
    font-weight: bold;
}
.bxslider img{
    width: 1200px;
    height: 500px;
    display: block; margin: 0px auto;
}
#gallery{
    width: 100%;
    display: flex;
    justify-content: center;

}
footer{
    width: 100%;
    height: 150px;
    float: left;
    bottom: 0;
    background-color: black;
}