body{
    width: 700px;
}
#logo{
    margin: 20px;
}
input{
    border:0px;
    border-bottom: 1px solid #7c7c7c;
    width: 100%;
    padding:20px;
    font-size: 20px;
    margin-top: 20px;
    position: relative;
    
}

.request_btn{
    margin: 50px 0;
    width: 100%;
    height: 80px;
    border-radius: 100px;
    border:0px;
    background-color: #00793F;
    color: white;
    font-size: 17px;
    font-weight: bold;
    box-shadow: 1px 3px 10px -5px rgba(0,0,0, 0.25);
}
#year{
    width: 50%;
}
select{
    font-size: 18px;
    padding: 20px 50px;
    text-align: left;
    border: 0px;
    border-bottom: 1px solid #7c7c7c;
    margin-left: 54px;
    color: #7c7c7c;
}
.btn{
    border:0px;
    background-color: #00793F;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 0;
    font-weight: lighter;
    margin-top: -50px;
    margin-left: 600px;
    position:absolute;
    z-index: 3;
}
.where {
  display: block;
  margin: 25px 15px;
  font-size: 11px;
  color: #000;
  text-decoration: none;
  font-family: verdana;
  font-style: italic;
} 

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

/* named upload */
.filebox .upload-name {
  display: inline-block;
  padding: .5em .75em;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filebox.bs3-primary label {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}